<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sandoval.hugecurrencytest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CurrencyCalcApp"
        android:allowBackup="true"
        android:appComponentFactory="whateverstring"
        android:icon="@mipmap/ic_huge_currency_test"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_huge_currency_test_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory">
        <activity
            android:name=".ui.currency.CurrencyCalculatorActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.currency.ExchangeRatesActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.currency.CurrencyStatsActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
    </application>

</manifest>